@import "utils/variables";
@import "components/articles";
@import "components/clients";
@import "components/ending";
@import "components/filter";
@import "components/header";
@import "components/is-hidden";
@import "components/logo";
@import "components/modal";
@import "components/page-theme";
@import "components/portfolio";
@import "components/privacy";
@import "components/jobs";
@import "components/team";
@import "components/mobile";

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
p {
  margin: 0;
}
body {
  color: var(--black);
  font-family: $fontMain;
}
@media (min-width:320px)and (max-width:1199px){
.section {
  padding: 60px 0;
}
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}}

@media (min-width:1199px){
.section {
  padding: 94px 0;
}
.container{
  width:1200px;
  margin: 0 auto;
  padding: 0 15px;
}
}


 



