@import "utils/variables";
@import "components/articles";
@import "components/clients";
@import "components/ending";
@import "components/filter";
@import "components/header";
@import "components/is-hidden";
@import "components/logo";
@import "components/modal";
@import "components/page-theme";
@import "components/portfolio";
@import "components/privacy";
@import "components/jobs";
@import "components/team";
@import "components/mobile";

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
p {
  margin: 0;
}
body {
  color: var(--black);
  font-family: $fontMain;
}
@media (min-width:320px)and (max-width:1199px){
.section {
  padding: 60px 0;
}
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}}

@media (min-width:1199px){
.section {
  padding: 94px 0;
}
.container{
  width:1200px;
  margin: 0 auto;
  padding: 0 15px;
}
}

@media (min-width: 320px) and (max-width: 759px) {

  .clients {
    &__head {
      font-size: 28px;
    }
    &__list {
      flex-wrap: wrap;
      gap: 30px;
    }
    &__box {
      width: 46.67%;
    }
    &__icon {
      width: 100%;
    }
  }
  .filter {
    flex-wrap: wrap;
    margin-right: 73px;
    justify-content: left;
  }
  .portfolio {
    padding: 0;
    &__element {
      width: 100%;
    }
    &__technocrack-container {
      width: 100%;
      height: 294px;
    }
    &__technocrack {
      height: 100%;
      padding: 77px 24px;
    }
    &__image {
      width: 100%;
    }
  }

  .ending {
    &__divs {
      flex-direction: column;
      text-align: center;
    }
    &__footer {
      width: 100%;
    }
    &__join-us {
      width: 100%;
    }
    &__join-us-links {
      width: 206px;
      margin: 0 auto;
      padding-top: 20px;
    }
    &__form {
      width: 100%;
    }
    &__newsletter-flex {
      flex-direction: column;
    }
    &__newsletter {
      width: 100%;
    }
  }

  .modal {
    &__header {
      text-align: center;
      width: 100%;
    }
    &__form {
      width: 82%;
      margin: 0 auto;
    }
    &__box {
      margin-left: auto;
      margin-right: auto;
      width: 90%;
    }
    &__personal-details {
      width: 100%;
      margin: 0;
    }
    &__input {
      width: 100%;
    }
    &__input-comment {
      width: 100%;
    }
    &__comment {
      width: 100%;
    }
    &__comment-name {
      width: 100%;
    }
    &_icon-position {
      width: 100%;
    }
  }
  .privacy {
    font-size: 12px;
    line-height: 14px;
    margin-left: 0;
    &__button {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

@media (min-width: 760px) and (max-width: 1199px) {

  .clients{
    &__list{
      flex-wrap: wrap;
      gap:30px;
    }
    &__box{width: 30%;
    }
    &__icon{
      width: 100%;
    }
  }
  .portfolio{
    flex-wrap: wrap;
    padding-bottom: 0;
    &__element{
      width: 46%
    }

  }
.ending{
  &__footer{
    text-align: center;
  }
  &__divs{
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  &__newsletter-flex{
    flex-direction: column;
  }
  &__form{
    width: 60%;
    text-align: center;
  }
  &__newsletter{
    width: 100%;
  }
  &__join-us{
    text-align: center;
  }
}
.mobile{
  display: none;
}
}





