.logo {
    font-family: "Raleway", sans-serif;
    margin-right: 0;
    font-size: 24px;
    font-weight: 700;
    line-height: 28.18px;
    color: $blue;
    text-decoration: none;
    

    &__studio--black {
      color: $black;
    }
    &__studio--white {
      color: $white;
    }
  }

  @media (min-width: 768px){
    .logo{
    line-height: 31px;
    font-size: 26px;}
  }

  @media (min-width: 1200px){
    .logo{
    margin-right: 94px;}}