.portfolio {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-content: center;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-bottom:94px;

    & figure {
        background: $white;
        margin: 0;
        font-size: 0;

        &:hover {
            box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
              0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
          }
      }
      &__position {
        position: relative;
        overflow: hidden;
        cursor: pointer;

        &:hover .portfolio__technocrack-container {
            cursor: pointer;
            transform: translateY(0);
            z-index: 1;
          }
      }
      &__technocrack {
        font-family: $fontMain;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 0.03em;
        background-color: $bgTechnocrackColor;
        color: $white;
        padding: 49px 45px 49px 24px;
      }

      &__technocrack-container {
        position: absolute;
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        width: 370px;
        z-index: -1;
      }
      &__figcaption {
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;
        padding-left: 24px;
        padding-top: 20px;
        border: 1px solid #eee;
        border-top: none;
      }

      &__upper-text {
        font-family: $fontMain;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 36px;
        letter-spacing: 0.06em;
      }

      &__lower {
        font-family: $fontMain;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        letter-spacing: 0.03em;
      }
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  